{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}

    <br/>

    <h1>Administrateurs</h1>

    <hr>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <table class="table text-center table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>E-Mail</th>
                <th>Pseudonyme</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin_user in admin_users %}
            <tr>
                <td>{{ admin_user.id }}</td>
                <td>{{ admin_user.email }}</td>
                <td>{{ admin_user.username }}</td>
                <td style="display: flex; justify-content: center;">
                    <a class="btn btn-primary" href="{{ path('admin_user_edit', {'id': admin_user.id}) }}"><i class="far fa-edit"></i></a>
                    {% if current_user_id is not same as(admin_user.getId()) %}
                        <form method="post" action="{{ path('admin_user_delete', {'id': admin_user.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cet administrateur ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin_user.id) }}">
                            <button class="btn btn-danger" style="margin-left: 5px;" ><i class="far fa-trash-alt"></i></button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_register') }}">Ajouter un Administrateur</a>
{% endblock %}
