{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}

    <br/>

    <h1>Annonces</h1>

    <hr>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
        {% for advert in adverts %}
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-header">
                    #{{ advert.id }} - {{ advert.title }}
                </div>
                <div class="card-body" style="padding-bottom: 0;">
                    <h5 class="card-title">{{ advert.category.name }}</h5>
                    <p class="card-text">{{ advert.price }}€</p>
                    <p class="card-text">Nombre d'image : placeholder</p>
                    <p class="card-text">{{ advert.content }}</p>
                    <div style="margin-bottom: 5px;">
                        <a class="btn btn-primary" href="{{ path('advert_show', {'id': advert.id}) }}"><i class="fas fa-eye"></i></a>
                            {% if workflow_can(advert, 'publish') %}
                                <a title="Publier" href="{{ path('advert_state', {'transition': 'publish', 'id': advert.id}) }}" class="btn btn-success"><i class="fas fa-upload"></i></a>
                            {% endif %}
                            {% if workflow_can(advert, 'reject') %}
                                <a title="Rejeter" href="{{ path('advert_state', {'transition': 'reject', 'id': advert.id}) }}" class="btn btn-danger"><i class="fas fa-ban"></i></a>
                            {% endif %}
                            {% if workflow_can(advert, 'remove') %}
                                <a title="Rejeter" href="{{ path('advert_state', {'transition': 'remove', 'id': advert.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            {% endif %}
                            <p class="small">État de l'annonce : {{ advert.state }}</p>
                    </div>
                    <p class="small">Publié {% if advert.publishedAt != null %}le {{ advert.publishedAt |date("d/m/Y à H:i", "Europe/Paris") }}{% endif %} par {{ advert.author }} - <a href="mailto:{{ advert.email }}">{{ advert.email }}</a></p>
                </div>
            </div>

        {% else %}
            <span>Pas de catégorie disponible</span>
        {% endfor %}
    {{ knp_pagination_render(adverts) }}
    <a class="btn btn-primary" href="#">Ajouter une annonce</a>
{% endblock %}
