{% extends 'base.html.twig' %}

{% block title %}Annonce - Détails{% endblock %}

{% block body %}
    <style>
        .photo { max-width: 150px; max-height: 100px; margin-right: 5px; }
    </style>

    <br/>
    <h1>Détails de l'annonce {{ advert.title }}</h1>
    <hr>

    <div style="display: flex; flex-direction: column; ">
        <span>Titre : {{ advert.title }}</span>
        <span>Auteur : {{ advert.author }}</span>
        <span>E-Mail : <a href="mailto:{{ advert.email }}">{{ advert.email }}</a></span>
        <span>Prix : {{ advert.price }}€</span>
        <span>Créée le : {{ advert.createdAt |date("d/m/Y à H:i", "Europe/Paris") }}</span>
        <span>Publiée le : {% if advert.publishedAt != null %} {{ advert.publishedAt |date("d/m/Y à H:i", "Europe/Paris") }}{% else %} Non publiée{% endif %}</span>
        <span>Contenu : {{ advert.content }}</span>
        <br/>
        <br/>
        <h3>Photos : </h3>
        <div style="display: flex">
            {% for picture in pictures %}
                <img class="photo" src="{{ vich_uploader_asset(picture, 'file') }}"/>
            {% else %}
                <span>Pas de photo disponible.</span>
            {% endfor %}
        </div>
    </div>

    <br/>

    <a class="btn btn-secondary" href="{{ path('advert_index') }}">Retour</a>

{% endblock %}
